.banner {
	background-image: url("../../images/ecommerce.jpg");
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 0% 0% 10% 10%;
	border: none;
	background-size: cover;
	height: 85vmin;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	color: white;

	filter: drop-shadow(30px 30px 40px rgba(255, 7, 7, 0.326));
}

.banner > h1 {
	margin: 5vmax;
	font: 800 2.5vmax "Roboto";
}

.banner > h2 {
	font: 100 2.1vmax "Lucida Sans";

	text-shadow: 1vmax 1vmax rgba(223, 218, 218, 0.142);
}

.banner > a {
	height: 8vmax;
	width: 3vmax;
	margin-bottom: 5vmax;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0);
	border: 4px solid white;
	border-radius: 100%;
	border-color: white;
	padding: 1vmax;
	font: 500 1vmax "Roboto";
}
.banner > a > button {
	animation: xcroll 1.5s ease-in-out infinite;
	background-color: rgba(255, 255, 255, 0);
	border: 0;
	color: rgb(255, 255, 255);
}

@keyframes xcroll {
	0% {
		transform: translate(0, -10%);
		opacity: 0;
	}
	20%,
	70% {
		opacity: 1;
	}
	90%,
	100% {
		transform: translate(0, 90%);
		opacity: 0;
	}
}

.homeHeading {
	text-align: center;
	font-family: Roboto;
	font-size: 1.8vmax;
	border-bottom: 1px solid rgba(21, 21, 21, 0.5);
	width: 20vmax;
	padding: 1vmax;
	margin: 2vmax auto;
	color: rgb(0, 0, 0, 0.7);
}

.productCard {
	width: 14vmax;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: rgb(48, 48, 48);
	/* margin: 2vmax; */
	transition: all 0.5s;
	padding-bottom: 0.5vmax;
}

.productCard > img {
	width: 14vmax;
}

.productCard > div {
	margin: 0.5vmax;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.productCardSpan {
	margin: 0.5vmax;
	font: 300 0.7vmax "Roboto";
}

.productCard > p {
	font-family: "Roboto";
	font-size: 1.2vmax;
	margin: 1vmax 0.5vmax;
	margin-bottom: 0;
}

.productCard > span {
	margin: 0.5vmax;
	color: tomato;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 1vmax;
}

.productCard:hover {
	box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

	transform: translateY(-1vmax);
}

@media screen and (max-width: 600px) {
	.productCard > p {
		font-size: 1.7vmax;
	}

	.productCard > div {
		margin: 0vmax;
		display: block;
	}

	.productCard > span {
		font-size: 1.5vmax;
	}

	.productCard > div > span {
		margin: 0 0.5vmax;
		font: 300 1vmax "Roboto";
	}
}
